@page "/simulation"


<h3>Flu Model</h3>

<div style="text-align: center;">
    <div style="display: inline-block; margin: 40px;">
        <h4>Graph 1</h4>
        <img src="images/graph.png" alt="Graph 1" style="width: 590px; height: 520px;" />
    </div>
    <div style="display: inline-block; margin: 40px;">
        <h4>Graph 2</h4>
        <img src="images/model.png" alt="Graph 2" style="width: 590px; height: 520px;" />
    </div>
    <div style="display: inline-block; margin: 40px;">
        <h4>Graph 3</h4>
        <img src="images/recover.png" alt="Graph 3" style="width: 590px; height: 520px;" />
    </div>
</div>

@code {
    // You can add any C# code or logic to generate the graphs if needed
}


